#header-logo{
    background: url(https://preview.redd.it/3e2afpjsi4f61.png?auto=webp&s=873c71479848a3164d1804a0736ea721ca78aad1) no-repeat center center;
    background-size: cover;
    width: 150px;
  }
#color-change{
    color: coral;
}
