table{
    border-collapse: separate;
    border-spacing: 1em;
    margin-left: 13em;
    width: 70%; 
    margin-bottom: 1em; 
    padding-left: 12.5em;
    background-color: rgba(0, 0, 0, 0);
}
table thead tr th{
    color: coral;
}
table tbody tr th{
    color: white;
}
.id{
    border-left: 5px solid coral;
}