<div id="location" style="background-image: url(https://cdna.artstation.com/p/assets/images/images/043/897/524/large/seed-seven-twodots-seedseven-eldenring-2.jpg?1638544022);">
    <table id="table" style="width: 70%; margin-bottom: 1em; padding-left: 12.5em;">
        <tr>
        <td id="locationtd" style="border-spacing: 100em;">
            <h1>A New Fantasy World</h1>
            <p> Journey through the Lands Between, a new fantasy world created by Hidetaka Miyazaki, 
              creator of the influential DARK SOULS video game series, and George R. R. Martin, author 
              of The New York Times best-selling fantasy series, A Song of Ice and Fire. 
              Unravel the mysteries of the Elden Ring’s power. Encounter adversaries with profound backgrounds, 
              characters with their own unique motivations for helping or hindering your progress, and fearsome creatures. </p>
            <h1>World Exploration</h1>
            <p> ELDEN RING features vast fantastical landscapes and shadowy, complex dungeons that are connected seamlessly.
              Traverse the breathtaking world on foot or on horseback, alone or online with other players, and fully immerse 
              yourself in the grassy plains, suffocating swamps, spiraling mountains, foreboding castles and other sites of 
              grandeur on a scale never seen before in a FromSoftware title. </p>    
        </td>
        <td id="locationtd">
            <h1>Genre-defining Gameplay</h1>
            <p> Create your character in FromSoftware's refined action-RPG and define your playstyle 
              by experimenting with a wide variety of weapons, magical abilities, and skills found throughout 
              the world. Charge into battle, pick off enemies one-by-one using stealth, or even call upon allies 
              for aid. Many options are at your disposal as you decide how to approach exploration and combat.</p>
            <h1>Tarnished of the Lands Between</h1>
            <p> The Golden Order has been shattered. Throughout the Lands Between, Demigods holding shards 
              of the Elden Ring squabble and make war over the ruins of a perfect realm, now abandoned by the 
              golden guidance of the Greater Will. As the echoes of this conflict thunder in the distance, an 
              outcast arrives. Once, their ancestors called the Lands Between home, but the blessed light of 
              grace was lost to their tribe long ago and they were expelled from the kingdom. They are the Tarnished, 
              and they have returned to claim the Elden Lordship promised to them by legend</p>
        </td>
        </tr>
    </table>
  </div>