<div class="container-fluid">
  <app-header></app-header>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://preview.redd.it/h8y52xhc8tk81.png?width=3840&format=png&auto=webp&s=7aa81ee684debdbee0368f76022631e75a731f64" alt="img 1">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://preview.redd.it/9p7c92jc8tk81.png?width=3840&format=png&auto=webp&s=382fe6722a150af421fc77d7033600f9276a4d36" alt="img 2">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://preview.redd.it/j8y9rkgc8tk81.png?width=3840&format=png&auto=webp&s=a18e85af72ebe690137e03faa5f6bdf85d99f767" alt="img 3">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://preview.redd.it/5w7tzric8tk81.png?width=3840&format=png&auto=webp&s=1402394a3b5df9e165946daa96b99574d20e9f96" alt="img 3">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://preview.redd.it/apiwv2tj8tk81.png?width=3840&format=png&auto=webp&s=12bc6545772ecb7092f46f602071528711e9f44d" alt="img 3">
    </div>
  </ng-template>
</owl-carousel-o>