<app-header></app-header>
<owl-carousel-o [options]="customOptions" class="carousel">
  <ng-template carouselSlide>
    <div class="slide">
      <div id="character-title" class="text-hoarah">
        <h2>HOARAH LOUX, CHIEFTAIN OF THE BADLANDS</h2>
      </div>
      <div id="hoarah-desc" class="text-hoarah">
        <h1>Godfrey was the chosen consort of and first husband of Queen Marika. Godfrey led the war against the Giants, and faced the Storm Lord alone. But after his last worthy opponent fell, Godfrey's warrior spirit sank, and the hue from his eyes faded. His purpose now fulfilled, Marika exiled Godfrey from the Lands Between, making him the first Tarnished. </h1>
      </div>
      <img src="https://preview.redd.it/h8y52xhc8tk81.png?width=3840&format=png&auto=webp&s=7aa81ee684debdbee0368f76022631e75a731f64" alt="img 1">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div id="character-title" class="text-goldmask">
        <h2>THE EVER-BRILLIANT GOLDMASK</h2>
      </div>
      <div id="goldmask-desc" class="text-goldmask">
        <h1>Little is known about the noble Goldmask. Arriving at the Lands Between by the Call of Grace, some viewed him as a prophet of a new age. However some call into question his eternal silence, not as wisdom, but as foolishness. The world may never know whether it was madness or genius that guided him.</h1>
      </div>
      <img src="https://preview.redd.it/9p7c92jc8tk81.png?width=3840&format=png&auto=webp&s=382fe6722a150af421fc77d7033600f9276a4d36" alt="img 2">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div id="character-title" class="text-fia">
        <h2>FIA THE DEATHBED COMPANION</h2>
      </div>
      <img src="https://preview.redd.it/j8y9rkgc8tk81.png?width=3840&format=png&auto=webp&s=a18e85af72ebe690137e03faa5f6bdf85d99f767" alt="img 3">
    </div>
    <div id="fia-desc" class="text-fia">
      <h1>Chased away from her homeland upon awakening to the Call of Grace, her embrace seeps life force from the living and transfers it to Those Who Live in Death. Fia always wanted to be a Deathbed Companion, as such, to further her amibition, there is no price she would not pay.</h1>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div id="character-title" class="text-dung">
        <h2>THE LOATHSOME DUNG EATER</h2>
      </div>
      <div id="dung-desc" class="text-dung">
        <h1>A being representing defilement itself. Determined to spread a curse to all the Lands Between. The reviled curse will last eternally, and the world's children, grandchildren, and every generation hence, will be its pustules. After all, if Order is defiled entirely, defilement is defilement no more, and for every curse, a cursed blessing.</h1>
      </div>
      <img src="https://preview.redd.it/5w7tzric8tk81.png?width=3840&format=png&auto=webp&s=1402394a3b5df9e165946daa96b99574d20e9f96" alt="img 3">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div id="character-title" class="text-gideon">
        <h2>SIR GIDEON OFNIR, THE ALL KNOWING</h2>
      </div>
      <div id="gideon-desc" class="text-gideon">
        <h1>Leader of the Roundtable Hold as well as a Tarnished vying for the seat of Elden Lord. Knowledge begins with the recognition of one's ignorance. The realization that the search for knowledge is unending. But when Gideon glimpsed into the will of Queen Marika, he shuddered in fear. At the end that should not be.</h1>
      </div>
      <img src="https://preview.redd.it/apiwv2tj8tk81.png?width=3840&format=png&auto=webp&s=12bc6545772ecb7092f46f602071528711e9f44d" alt="img 3">
    </div>
  </ng-template>
</owl-carousel-o>
<app-infotable></app-infotable>
<app-footer textTitleUpper="BECOME ELDEN LORD" textTitleLower="RISE"></app-footer>